* {
  font-size: x-small;
  margin: 0;
  padding: 0;
}

main {
  /* margin: 25%; */
  /* width: 60%; */
  height: 100vh;

  display: grid;
  place-content: center center;
}

form {
  background: #eee;
  border-radius: 3px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 0.6rem;
  column-gap: 1rem;
}

form input[type="submit"] {
  width: 50%;
  padding: 7px;
  border-radius: 2px;
  border: 1px solid gray;
  background-image: linear-gradient(white, lightgray);
}

form select, input {
  background: white;
  border: 1px solid gray;
}



